/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.clearfix:after {
   content: ""; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


/* =============================================================================
  HTML, BODY (HOLY GRAIL LAYOUT)
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}



/* =============================================================================
  HEADER, NAVBAR, FOOTER
============================================================================= */
.main-footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  padding: 50px;
  padding-bottom: 0px;
  margin-top: 95px;
  Z-INDEX: 10;
}

.header {
  height: 400px;
  position: relative;
  width: 100%;
  /*overflow-y: hidden;*/
  z-index: 10;
  /* border: 1px solid black; */
}

.header-logo {
  height: 100px;
  width: 100px;
  margin: auto;
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 7px #000000;
  position: absolute;
  right: 50%;
  transform: translateX(50px);
  top: 10px;
  z-index: 10;

}

#logo {
  height: 100%;
}

.header-navbar {
  z-index: 10;
  /*margin-left: 20px;
  margin-right: 20px;*/

}

.header-navbar .navbar-link {
  display: block;
  padding: 10px 20px;
  z-index: 10;
  position: relative;
  color: white;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.header-navbar .navbar-link:hover {
  cursor: pointer;
}

.header-navbar .navbar-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.header-navbar .navbar-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-navbar > ul {
  /*border-top: 2px solid grey;
  border-bottom: 2px solid grey;*/
  background-color: #484343;
  text-align: center;
  width: 42%;
  margin-top: 40px;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid antiquewhite;
  border-top: 1px solid antiquewhite;

}

.header-navbar-left {
  float: left;
  padding-left: 0%;
  padding-right: 0%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.header-navbar-left > li {
  float: right;

}

.header-navbar-right {
  float: right;
  padding-right: 0%;
  padding-left: 0%;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}
.header-navbar-right > li {
  float: left;
}


/* =============================================================================
  CONTENT
============================================================================= */

.header-content {
  position: absolute;
/* top: 160px; */
  padding-top: 165px;
  z-index: 2;
  /* max-width: 720px; */
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

.content__heading {
  margin-bottom: 24px;
  font-family: 'Great Vibes';
  font-weight: 500;
  color: white;
  text-shadow: 5px 5px 7px #000000;
  font-size: 75px;
}

.content__teaser {
  margin-bottom: 24px;
  /*color: rgb(89,89,89);*/
  color: white;
  font-size: 22px;
  font-size: 27px;
    text-shadow: 2px 2px 1px #000000;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  /*color: rgb(255,60,100);*/
  font-size: 22px;
  /*text-decoration: none;*/
  border: solid 4px rgb(255,60,100);
}

fooer {
  bottom: 0px;
}

/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: absolute;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  opacity: .8;
}

.volume-control {
  padding-right: 20px;
  font-size: 30px;
  position: absolute;
  z-index: 30;
  right: 0;
}

.volume-control > .glyphicon:hover {
  cursor: pointer;
}
